:root {
    /* Цвета */
	--forbg: #fbfbfb;
	--primelogobsbcolours-logoyellow: #dfdc01;
	--primelogobsbcolours-logobluepurple: #2d2650;
	--primelogobsbcolours-logodarkgrey: #2b2a28;
	--primelogobsbcolours-ancettxtgrey: #555454;
	--primelogobsbcolours-supportdarkyellow: #c9c601;
	--primelogobsbcolours-softlightyellow: #ebe965;
	--primelogobsbcolours-supportlightpurple: #4a399d;
	--primelogobsbcolours-softlightpurple: #9283db;
	--primelogobsbcolours-clearwhite: #fff;
	--primelogobsbcolours-almostwhite: #f5f5f5;
	--primelogobsbcolours-clearblack: #000;
	--pantonebsb-pantoneyellow: #edec3f;
	--pantonebsb-pantonedarkblue: #141b4d;
	--pantonebsb-pantonecoolgrey: #b1b3b3;
	--cmykforbsb-cmykrefyellow: #cf0;
	--cmykforbsb-cmykrefblue: #00006c;
	--cmykforbsb-cmykrefgrey: #999;

	--transition: all 0.5s ease;

    /* Шрифты */
    --font-family: "PT Sans", sans-serif;
    --second-family: "Handjet", sans-serif;
    --third-family: "Press Start 2P", sans-serif;
    --font3: "Eboy EXTAlpha", sans-serif;

    /* dimensions */
    --container-width: 1110px;
    --container-offset: 15px;

	--circle-width: 116px;
	--benefits-offset: 27px;

	/* margin */
	--major-margin: 100px;
	--block-margin: 80px;
	
	/* gap */
	--tech-content-gap: 152px;
	--tech-list-animation-gap: 144px;
	--inner-block-gap: 56px;
	--new-solve-list-gap: 48px;
	--slider-gap: 64px;

	--space-0: 2px;
	--space-1: 6px;
	--space-2: 12px;
	--space-3: 16px;
	--space-4: 20px;
	--space-5: 24px;
	--space-6: 30px;
	--space-7: 40px;
	--space-8: 60px;
	--space-9: 80px;
	--space-10: 110px;
	--space-11: 140px;

	/* padding */
	--news-padding: 170px;

	--button-padding: 10px 40px;
	--padding-0: 8px;
	--padding-1: 10px;
	--padding-3: 18px;
	--padding-4: 20px;
	--padding-5: 30px;
	--padding-6: 40px;
}