.logo-animation__line {
    transform-origin: center;
    animation: logo-animation 10s ease-in-out infinite normal;
}

.logo-animation__cube {
    animation: cube-animation 10s ease-in-out infinite normal;
}

.expertise__span--yellow {
    animation: from-yellow-to-purple 10s ease-in-out infinite normal;
}

.expertise__span--purple {
    animation: from-purple-to-yellow 10s ease-in-out infinite normal;
}

@keyframes from-yellow-to-purple {
    0% {
        color: var(--primelogobsbcolours-logoyellow);
    }
    50% {
        color: var(--primelogobsbcolours-logobluepurple);
    }
    100% {
        color: var(--primelogobsbcolours-logoyellow);
    }
}

@keyframes from-purple-to-yellow {
    0% {
        color: var(--primelogobsbcolours-logobluepurple);
    }
    50% {
        color: var(--primelogobsbcolours-logoyellow);
    }
    100% {
        color: var(--primelogobsbcolours-logobluepurple);
    }
}

@keyframes cube-animation {
    0% {
        fill: var(--primelogobsbcolours-almostwhite);
    }
    50% {
        fill: var(--primelogobsbcolours-logobluepurple)
    }
    100% {
        fill: var(--primelogobsbcolours-almostwhite);
    }
}

@keyframes logo-animation {
    0% {
        transform: rotate(0deg);
        fill: var(--primelogobsbcolours-almostwhite);
    }
    50% {
        transform: rotate(360deg);
        fill: var(--primelogobsbcolours-supportdarkyellow);
    }
    100% {
        transform: rotate(0);
        fill: var(--primelogobsbcolours-almostwhite);
    }
}