@import url('./header.css');
@import url('./media.css');

.hero__container {
    position: relative;
}

.hero__bg-image {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 0;
    transform: translate(0, 35%)
}

.hero__main {
    background: url('../../public/hero/hero-background.png') no-repeat center / cover;
    padding-top: 45px;
    padding-bottom: 477px;
}

.main__container {
    gap: var(--space-7);
}

.main__text {
    gap: var(--space-6);
}

.text__title {
    gap: var(--space-4);
}

.text__subtitle {
    max-width: 665px;
}