@import url('./hover.css');

.solve {
    margin-top: var(--block-margin);
}

.solve__container {
    gap: var(--inner-block-gap);
}

.solve__list {
    padding: 0 var(--padding-5);
}

.solve__item:not(:last-of-type) {
    border-right: 5px solid var(--primelogobsbcolours-almostwhite)
}

.solve__article {
    position: relative;
    padding: 266px var(--padding-6) 226px;
}

.solve__artcile .s-article__heading {
    z-index: 1;
}

.s-article__title {
    position: relative;
    z-index: 1;
    transition: all 0.5s ease;
}

.s-article__bg {
    position: absolute;
    top: 0;
    left: var(--padding-6);
    right: var(--padding-6);
    transform: translate(0, 50px);
}

.s-article__bg svg {
    width: 100%;
    height: auto;
    z-index: 0;
}

.s-article__link::after {
    position: absolute;
    inset: 0;
    content: '';
    z-index: 1;
    cursor: pointer;
}