.other {
    margin-top: var(--major-margin);
}

.other__container {
    gap: var(--space-4);
}

.other__bar {
    width: 10px;
    height: 220px;
    background-color: var(--primelogobsbcolours-logobluepurple);
}

.other__text {
    max-width: 700px;
    line-height: 1.3;
}