.menu__circles {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 1180px;
    aspect-ratio: 1;
    z-index: 0;
    transform: translate(50%, 50%);
}

.circle--big {
    position: absolute;
    inset: 0;
    max-width: 1180px;
    aspect-ratio: 1;
    animation: circle-big 65s linear infinite normal;
    transform-origin: center;
}

.circle--small {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 925px;
    transform-origin: center;
    animation: circle-small 60s linear infinite normal;
}

@keyframes circle-small {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes circle-big {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}

@media screen and (max-width: 1330px) {
    .menu__circles {
        transform: translate(50%, 50%) scale(0.7);
    }
}