@import url('./media.css');
@import url('./animation.css');

.partnership {
    margin-top: var(--major-margin);
}

.partnership__container {
    gap: var(--inner-block-gap);
}

.partnership__container .container {
    width: 100%;
}

.partnership__slider {
    position: relative;
}

.p-slider__list {
    overflow: hidden;
    padding: 0 var(--padding-0);
    gap: var(--slider-gap);
}

.p-slider__item {
    z-index: 1;
    width: 120px;
    transition: var(--transition);
    user-select: none;
}

.p-slider__article {
    gap: var(--space-2);
}

.p-slider__article p {
    transition: var(--transition);
}

.p-slider__image {
    min-width: 120px;
}

.p-slider__image img {
    transition: var(--transition);
    filter: grayscale(1);
}