@import url('./media.css');
@import url('./animation.css');

.tech {
    overflow: hidden;
    margin-top: var(--block-margin);
}

.tech__container {
    gap: var(--inner-block-gap);
}

.tech__container .container {
    width: 100%;
}

.tech__content {
    width: max-content;
    overflow: hidden;
    gap: var(--tech-content-gap);
}

.tech__list {
    gap: var(--tech-list-animation-gap);
}


.t-article__span {
    letter-spacing: 2.4px;
}