/* flex */
.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row-reverse {
    display: flex;
    flex-direction: row-reverse;
}

/* grid */
.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.grid__item {
    grid-column: 4 span;
}

.grid__item--big {
    grid-column: 6 span;
}

.grid__item--small {
    grid-column: 1 span;
}

/* justify */
.space-between {
    justify-content: space-between;
}

.justify-stretch {
    justify-content: stretch;
}

.justify-start {
    justify-content: start;
}

.justify-center {
    justify-content: center;
}

/* align */
.align-center {
    align-items: center;
}

.aling-start {
    align-items: start;
}

.align-end {
    align-items: end;
}

/* self */
.self-center {
    align-self: center;
}

.self-end {
    align-self: end;
}

.justify-self-end {
    justify-self: end;
}