p {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-family: var(--font-family);
    letter-spacing: 0.05em;
}

/* transformation */
.text-right {
    text-align: right;
}

.uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

/* wrap */
.balance {
    text-wrap: balance;
}

.pretty {
    text-wrap: pretty;
}

/* weight */
.font-medium {
    font-weight: 500;
}

.font-semibold {
    font-weight: 600;
}

.font-bold {
    font-weight: 700;
}

.black {
    font-weight: 900;
}

/* family */
.second-family {
    font-family: var(--second-family);
}

.third-family {
    font-family: var(--third-family);
}

.other-family {
    font-family: var(--font3);
}

/* color */
.text-color--darkgrey {
    color: var(--primelogobsbcolours-logodarkgrey);
}

.text-color--clearwhite {
    color: var(--primelogobsbcolours-clearwhite);
}

.text-color--almostwhite {
    color: var(--primelogobsbcolours-almostwhite);
}

.text-color--bluepurple {
    color: var(--primelogobsbcolours-logobluepurple);
}

.text-color--lightpurple {
    color: var(--primelogobsbcolours-supportlightpurple);
}

.text-color--coolgrey {
    color: var(--pantonebsb-pantonecoolgrey);
}

.text-color--yellow {
    color: var(--primelogobsbcolours-logoyellow);
}


/* size */
.text--14 {
    font-size: 14px;
}

.text--18 {
    font-size: 18px;
}

.text--20 {
    font-size: 20px;
}

.text--25 {
    font-size: 25px;
}

.text--48 {
    font-size: 48px;
}

.text--60 {
    font-size: 60px;
}

.text--140 {
    font-size: 140px;
}